.cabecalho {
    text-align: center;
    margin-bottom: 40px;
}

.cabecalho h2 {
    font-size: 2.5rem;
    color: #0C326F;
    margin: 0 0 10px 0;
}

.cabecalho p {
    font-size: 1rem;
    color: #555;
    margin: 0;
}